!!! 5
html(lang="en")
	head
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript')
			var socket = io.connect('http://67.217.170.57:3000/');
			socket.on('data',function(data){
				console.log(data);
			});
